# Files necessary to build the documentation locally, but these are tracked by other github repositories
python/master-tmp

# Python sphinx build
python/sphinx_docs/docs/_build*

# Python cache directories
**/__pycache__/

# Editor autosave files
*~
*.swp

# Python coverage files
python/sphinx_docs/.coverage
